
.idea/misc.xml

.idea/modules.xml

.idea/Projeto-X.iml

.idea/workspace.xml

__pycache__/Audio.cpython-36.pyc

__pycache__/classBot.cpython-36.pyc

__pycache__/conexaoBanco.cpython-36.pyc

__pycache__/importacoes.cpython-36.pyc

*.json

.idea/

*.yml

__pycache__/htaccess.cpython-36.pyc

__pycache__/microphoneMonitor.cpython-36.pyc

__pycache__/Weather.cpython-36.pyc
/FaceRecognition/img/

htaccess.py
